.table {
    margin: 20px;
    border-collapse: collapse;
    font-size: 24px;

    .th {
        border: 1px solid black;
        padding: 10px;
    }

    .jami {
        border: 1px solid black;
       padding-left: 230px;
    }

    .jami2 {
        border: 1px solid black;
        padding-left: 80px;
    }

    .td {
        border: 1px solid black;
        padding: 10px 20px;
    }
}